/* Головне */
* {scrollbar-width: none;-ms-overflow-style: none;}
*::-webkit-scrollbar {display: none;}
body {
	background-color: black;
	color: white;
	margin: 0;
	font-family: "Courier New";
	font-size: 14px;
	background-image: url('image/shapka.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}
p {margin: 14px 0 0;}
p.p-tiny {font-size: 11px;margin: 0;}
ul {margin: 14px 0 0;padding: 0 0 0 28px;font-size: 11px;}
audio {margin: 14px 0 0;height: 28px;}
img {display: block;}
a {color: #007FFF;text-decoration: none;}
a:hover {color: white;text-decoration: none;}

/* Коробки */
div {
	background-color: black;
}
div.row-box {display: flex;margin: 14px 0 0;}
div.main-box {
	border: 1px solid;
	margin: 14px auto 0;
	padding: 0 14px 14px;
	width: 466px;
}
a.a-box {
	border: 1px solid white;
	margin: 1px;
	flex: 1;
	font-size: 11px;
	text-align: center;
	padding: 14px;
}
a.a-box:hover {background-color: #007FFF;}